<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="Heritage, Food, Crops, Tree Crops, Research, Trust, Monty's Surprise, Apple, Trees, Heirloom, Tomatoes, Lycopene, Tetra-cis-lycopene, Prolycopene, All-trans-lycopene, Beans, Climbing Beans, Huntington's, Disease, Trehalose, Health, Cancer, Anti-cancer">
        <meta name="description" content="Established to research the early prevention and treatment of disease through natural, plant-based medicine. This includes research into the anti-cancer apple, Monty's Surprise; heirloom tomatoes; heirloom beans; and Huntington's Disease.">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/styles/global.css?build=<%= version %>">

        <title><%= htmlTitle %></title>

        <%- faviconHtml %>
    </head>
    <body>
        <div id="page"><%- content %></div>

        <script>window.hfcrtAppConfig = <%- JSON.stringify({
            currentPageTitle,
            siteTitle,
            gaTrackingId,
            debug: !useMinifiedCode,
        }) %>;</script>

        <% if (!useMinifiedCode) { %>
            <script src="http://localhost:8080/scripts/main.js?build=<%= version %>"></script>

            <script>
                if (typeof HFCRT_BUNDLE_LOADED === 'undefined') {
                    console.log('%c webpack-serve does not seem to be running. Falling back to regular bundle.', 'background: #d1ecf1');
                    document.write(unescape("%3Cscript src='/static/scripts/main.js' type='text/javascript'%3E%3C/script%3E"));
                }
            </script>
        <% } else { %>
            <script src="/static/scripts/<%= useMinifiedCode ? 'main.min' : 'main' %>.js?build=<%= version %>"></script>
        <% } %>
    </body>
</html>
